<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296887782739-lmfjnvkrfntmvuh22cgrkul3jkf78vhu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296887782739-lmfjnvkrfntmvuh22cgrkul3jkf78vhu</string>
	<key>API_KEY</key>
	<string>AIzaSyBiDigdckBHMu4ZYSmKoXhvbgeI-tJrrOU</string>
	<key>GCM_SENDER_ID</key>
	<string>296887782739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.spotparking.spot2</string>
	<key>PROJECT_ID</key>
	<string>spot2-4bc57</string>
	<key>STORAGE_BUCKET</key>
	<string>spot2-4bc57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296887782739:ios:aa2a1022ff627ba2b5e5a6</string>
</dict>
</plist>