<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014572488216-bqciir1oipia5o4dn0ume7al2lu9f0fs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014572488216-bqciir1oipia5o4dn0ume7al2lu9f0fs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1014572488216-48aemclj3qiflho2hus161idh2rp2k39.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBI0GXNrHDbpyq8rJlaiKXqmo6cTC7UyaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1014572488216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.spotparking.spot</string>
	<key>PROJECT_ID</key>
	<string>spot-d8ec1</string>
	<key>STORAGE_BUCKET</key>
	<string>spot-d8ec1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014572488216:ios:60c0ca53b6b602ec75d56d</string>
</dict>
</plist>
